{% extends "base.html" %}

{% block content %}

<div class="md:container md:mx-auto py-20 px-10 text-left text-base">
    <p>
        I am an experienced entrepreneur that loves building software and working in environments where ownership,
        accountability and empathy are core principles.
        You can read about my background
        <a class="font-bold text-blue-600"
            href="https://docs.google.com/document/d/1_YBvhpwsezkfwuVOnyep3NUTsnozdAZJqcNRNHrDt0Y/edit?usp=sharing"
            target="_blank">here</a>
        or on
        <a class="font-bold text-blue-600" href="https://www.linkedin.com/in/sanjay-kapoor-109288/"
            target="_blank">LinkedIn</a>.
    </p>
    <p class="mt-10">
        My public code repos are a playground for learning and exploring. These repos can be categorized as general
        purpose
        tooling in various languages
        (<a class="font-bold text-sky-400" href="https://github.com/notsanjaykapoor/notme-elixir"
            target="_blank">Elixir</a>,
        <a class="font-bold text-sky-400" href="https://github.com/notsanjaykapoor/notme-python"
            target="_blank">Python</a>,
        <a class="font-bold text-sky-400" href="https://github.com/notsanjaykapoor/notme-ruby" target="_blank">Ruby</a>)
        and
        application specific.
    </p>
    <p class="mt-10">
        The <a class="font-bold text-blue-600" href="https://github.com/notsanjaykapoor/notme-corpus"
            target="_blank">notme-corpus</a> repo is a
        RAG app that ingests a list of documents, generates embeddings and stores them in a <a
            class="font-bold text-sky-400" href="https://qdrant.tech/" target="_blank">Qdrant</a> vector database. The
        user
        interface allows natural language
        queries on any ingested corpus. The ingest process supports multimodal datasets, using Qdrant's ability to store
        multiple vectors in a single point. The app also supports one-shot image captioning. Image datasets use <a
            class="font-bold text-sky-400" href="https://openai.com/index/clip" target="_blank">CLIP</a> models, and all
        queries are run using a local LLM to address security concerns with sensitive data. The app is a Python codebase
        with a user interface built using <a class="font-bold text-sky-400" href="https://htmx.org/"
            target="_blank">Htmx</a>.
    </p>
    <p class="mt-10">
        The <a class="font-bold text-blue-600" href="https://github.com/notsanjaykapoor/notme-paas"
            target="_blank">notme-paas</a> repo contains 2 apps, a distributed queue manager and a password manager.

        This distributed queue solution uses lower cost vps providers (e.g. <a class="font-bold text-sky-400"
            href="https://www.hetzner.com/" target="_blank">Hetzner</a>), <a class="font-bold text-sky-400"
            href="https://nats.io/" target="_blank">Nats</a>
        (a
        wonderful networking library),
        and a Postgres work queue to implement a solution that can distribute workloads across multiple machines and
        auto
        scale those machines as necessary.

        The password manager app uses <a class="font-bold text-sky-400" href="https://www.passwordstore.org/"
            target="_blank">pass</a> and gpg encryption under the hood. It gives users control over their password
        management
        using secure, open-source encryption. The app is a Python
        codebase with a user interface built using <a class="font-bold text-sky-400" href="https://htmx.org/"
            target="_blank">Htmx</a>.
    </p>
    <p class="mt-10">
        The <a class="font-bold text-blue-600" href="https://github.com/notsanjaykapoor/deploybot"
            target="_blank">deploybot</a> repo is an
        ops tool used to build and deploy apps in Kubernetes environments. It's built in Rust and uses PKI to control
        user
        access to deployable assets.
    </p>
    <p class="mt-10">
        I am based in Chicago. Reach out via <a class="font-bold text-blue-600"
            href="mailto:notsanjaykapoor@gmail.com">email</a>.
    </p>
    <p class="mt-20 text-xs">
        @{{ app_version }}
    </p>
</div>

{% endblock %}