{% extends "base.html" %}

{% block content %}

<div class="md:container md:mx-auto py-20 px-10 text-left text-base">
    <p>
        I am an experienced entrepreneur that loves building software and working in environments where ownership, accountability and empathy are core principles.
        You can read about my background
        <a class="font-bold text-blue-600 text-normal" href="https://docs.google.com/document/d/1_YBvhpwsezkfwuVOnyep3NUTsnozdAZJqcNRNHrDt0Y/edit?usp=sharing" target="_blank">here</a>
        or on
        <a class="font-bold text-blue-600 text-normal" href="https://www.linkedin.com/in/sanjay-kapoor-109288/" target="_blank">LinkedIn</a>
        .
    </p>
    <p class="mt-10">
      My public code repos are a playground for learning, building, and exploring.  These repos can be categorized as general purpose tooling in various languages 
      (<a class="font-bold text-blue-600 text-normal" href="https://github.com/notsanjaykapoor/notme-elixir" target="_blank">Elixir</a>,
      <a class="font-bold text-blue-600 text-normal" href="https://github.com/notsanjaykapoor/notme-python" target="_blank">Python</a>,
      <a class="font-bold text-blue-600 text-normal" href="https://github.com/notsanjaykapoor/notme-ruby" target="_blank">Ruby</a>) and
      application specific.
    </p>
    <p class="mt-10">
      The <a class="font-bold text-blue-600 text-normal" href="https://github.com/notsanjaykapoor/notme-corpus" target="_blank">notme-corpus</a> repo is a
      RAG app that ingests a list of documents (corpus) into a <a class="font-bold text-normal" href="https://qdrant.tech/" target="_blank">Qdrant</a> 
      vector database and allows natural language queries on any corpus.  All queries are run using a local LLM.  The app is a Python codebase with a
      user interface built using <a class="font-bold text-normal" href="https://htmx.org/" target="_blank">htmx</a>.
    </p>
    <p class="mt-10">
      The <a class="font-bold text-blue-600 text-normal" href="https://github.com/notsanjaykapoor/notme-paas" target="_blank">notme-paas</a> repo is a
      password manager app using <a class="font-bold text-normal" href="https://www.passwordstore.org/" target="_blank">pass</a> and gpg encryption.  It
      gives users control over their password management using secure, open-source encryption. The app is a Python codebase with a
      user interface built using <a class="font-bold text-normal" href="https://htmx.org/" target="_blank">htmx</a>.
    </p>
    <p class="mt-10">
      The <a class="font-bold text-blue-600 text-normal" href="https://github.com/notsanjaykapoor/deploybot" target="_blank">deploybot</a> repo is a
      tool used to build and deploy apps in Kubernetes environments.  It is built in Rust and uses PKI to control access to deployable assets.
    </p>
    <p class="mt-10">
      I am based in Chicago.  Reach out via <a class="font-semibold text-blue-600 text-normal" href="mailto:notsanjaykapoor@gmail.com">email</a>.
    </p>
    <p class="mt-20 text-xs">
        @{{ app_version }}
    </p>
</div>
  
{% endblock %}